# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @United-Music/code-reviewer and @United-Music/back-end will be
# requested for review when someone opens a pull request.

*    @XNXKTech/code-reviewer @XNXKTech/back-end

.github/    @XNXKTech/infra

app/Console/    @XNXKTech/infra
app/Exceptions/    @XNXKTech/infra
app/Helpers/    @XNXKTech/infra
app/Libraries/    @XNXKTech/infra

app/    @XNXKTech/code-reviewer
