includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 7 is the highest level
    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @param has invalid value#'
        - '#PHPDoc tag @throws with type#'
        - '#Instanceof between Exception and int|string results in an error#'

    excludePaths:
        - ./app/Http/Controllers/Auth/*
        - ./app/Http/Resources/*
        - ./app/Http/Middleware/Authenticate.php
        - ./app/Http/Resources/Reader/WavResource.php

    checkMissingIterableValueType: false